@model room_reservation.ViewModel.RoomViewModel

@{
    ViewData["Title"] = "اضافة قاعة";
}

<h1>اضافة قاعة</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="AddRoom" method="post">
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label">رقم القاعة</label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatCapacity" class="control-label">عدد المقاعد</label>
                <input asp-for="SeatCapacity" class="form-control" />
                <span asp-validation-for="SeatCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label">حالة القاعة</label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNameAr"  class="control-label"></label>
                <select asp-for="BuildingNameAr" id="BuildingId" class="form-control" asp-items="@ViewBag.Building" ></select>
            
            </div>
            <div class="form-group">
                <label asp-for="FloorId" class="control-label">رقم الدور</label>
                <select asp-for="FloorId" id="FloorId" class="form-control" ></select>
                <span asp-validation-for="FloorId" class="text-danger"></span>
            </div>
          <div class="form-group">
                <label asp-for="RoomTypeId" class="control-label">نوع القاعة</label>
                <select asp-for="RoomTypeId" class="form-control" asp-items="@ViewBag.RoomTypeBag"></select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="اضافة قاعة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        showValue($("#BuildingId").val());
    });

    $("#BuildingId").on('change', function () {
        showValue($(this).val());
    });

    function showValue(val) {
        $.getJSON('@Url.Action("getFloorbyGuid", "Room")/' + val, function (result) {
            console.log(result);
            $("#FloorId").html(""); // makes select null before filling process
            console.log(result.length);
            for (let i = 0; i < result.length; i++) {
                $("#FloorId").append("<option value='" + result[i].guid + "'>" + result[i].floorNo+ "</option>")
            }
        });
    }

</script>
