@model room_reservation.ViewModel.RoomViewModel

@{
    ViewData["Title"] = "تعديل قاعة";
}
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة قاعة</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="EditRoom">
                    <input hidden asp-for="Guid" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="RoomNo" class="control-label"></label>
                                <input asp-for="RoomNo" class="form-control" />
                                <span asp-validation-for="RoomNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="SeatCapacity" class="control-label"></label>
                                <input asp-for="SeatCapacity" class="form-control" />
                                <span asp-validation-for="SeatCapacity" cass="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="IsActive" class="control-label"></label>
                                <input asp-for="IsActive" class="form-control" />
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="FloorId" class="control-label"></label>
                                <select asp-for="FloorId" class="form-control" asp-items="@ViewBag.FloorBag"></select>
                                <span asp-validation-for="FloorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="RoomAR" class="control-label"></label>
                                <select asp-for="RoomAR" class="form-control" asp-items="@ViewBag.RoomTypeBag"></select>
                                <span asp-validation-for="RoomAR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                           
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
