@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model room_reservation.ViewModel.BuildingViewModel

@{
    ViewData["Title"] = "Add Building";
}

<h1>اضافة مبنى</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BuildingNameAr" class="control-label"></label>
                <input asp-for="BuildingNameAr" class="form-control" />
                <span asp-validation-for="BuildingNameAr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BuildingNameEn" class="control-label"></label>
                <input asp-for="BuildingNameEn" class="form-control" />
                <span asp-validation-for="BuildingNameEn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BuildingNo" class="control-label"></label>
                <input asp-for="BuildingNo" class="form-control" />
                <span asp-validation-for="BuildingNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

          

            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>    