 @model BookingViewModel
 
 @{
 ViewData["Title"] = "حجز قاعة";
 }


 <!-- span is the validation for each input as required-->

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">  حجز قاعة </h5>
    </div>
<div class="block-body py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <input hidden asp-for="guid"/>
            <form id="bookingForm" method="post">
                <div class="row">
                    <input type="hidden" asp-for="RoomGuid" />
                   

                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="BuildingNameAr" class="mb-1"> اسم المبنى </label>
                            <input  readonly asp-for="BuildingNameAr" class="form-control text-start">
                            <span asp-validation-for="BuildingNameAr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="FloorNo" class="control-label cb-1">رقم الطابق </label>
                            <input readonly asp-for="FloorNo" class="form-control"/>
                            <span asp-validation-for="FloorNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="RoomNo" class="mb-1">رقم القاعة </label>
                            <input readonly asp-for="RoomNo" class="form-control" asp-items="Model.Buildings"/>
                            <span asp-validation-for="RoomNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="RoomAR" class="control-label cb-1">نوع القاعة </label>
                            <input readonly asp-for="RoomAR" class="form-control"></input>
                            <span asp-validation-for="RoomAR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="SeatCapacity" class="mb-1"> الاستيعاب</label>
                            <input readonly asp-for="SeatCapacity" class="form-control text-start">
                            <span asp-validation-for="SeatCapacity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="BookingDate" class="control-label cb-1"> التاريخ </label>
                            <input asp-for="BookingDate" type="datetime" class="form-control"/>
                            <span asp-validation-for="BookingDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="BookingStart" class="mb-1"> وقت بداية الحجز </label>
                            <input asp-for="BookingStart" class="form-control" type="time"/>
                            <span asp-validation-for="BookingStart" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label asp-for="BookingEnd" class="control-label cb-1"> وقت نهاية الحجز </label>
                            <input asp-for="BookingEnd" class="form-control" type="time"/>
                            <span asp-validation-for="BookingEnd" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-primary px-5" title="حجز"> حجز</button>
                    </div>
                </div>
            </form>
            @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
            @* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script> *@

            <script>
                    $(document).ready(function () {
                        $('#bookingForm').submit(function (event) {
                            event.preventDefault(); // Prevent the default form submission

                            $.ajax({
                                url: '@Url.Action("Add")', // URL to the controller action
                                type: 'POST',
                                data: $(this).serialize(),
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire({
                                            title: '!نجحت العملية',
                                            text: ' تم الحجز بنجاح',
                                            icon: 'success'
                                        }).then(() => {
                                            window.location.href = '@Url.Action("Index")'; // Redirect to Index page after success
                                        });
                                    } else {
                                        Swal.fire({
                                            title: '!فشلت العملية',
                                            text: 'لم يتم الحجز  ',
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire({
                                        title: 'خطأ!',
                                        text: 'حدث خطأ غير متوقع',
                                        icon: 'error'
                                    });
                                }
                            });
                        });
                    });
                </script>

        </div>
    </div>
</div>
</div>