@model IEnumerable<room_reservation.ViewModel.PermissionViewModel>;

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">إدارة المستخدمين</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
         
            <a class="btn btn-primary" href="@Url.Action("AddPermission", "Permission")">إضافة صلاحية</a>
            <!-- Add Section Modal -->
            <div class="modal fade" id="add_section" tabindex="-1"
                 aria-labelledby="add_sectionLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_sectionLabel">إضافة طلب</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="">اسم المستخدم</label>
                                <input type="text" name="" id="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">البريد الإلكتروني</label>
                                <input type="text" name="" id="" class="form-control">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                إلغاء
                            </button>
                            <button type="button" class="btn btn-primary">حفظ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th>البريد الإلكتروني</th>
                    <th>الدور</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var data in Model)
                    {

                        <tr>
                            <td>
                                @data.Email

                            </td>
                            <td>
                                @data.RoleName

                            </td>

                            <!--<td>
                                <a asp-action="Edit" asp-route-id="x.Id">Edit</a>
                                <a asp-action="Details" asp-route-id="x.Id">Details</a>
                                <a asp-action="Delete" asp-route-id="x.Id">Delete</a>
                            </td>-->
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


