@model room_reservation.ViewModel.UserViewModel;


<!-- span is the validation for each input as required-->





<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة مستخدم</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="AddUser" id="userForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="FullNameAR" class="control-label">الاسم الكامل باللغة العربية</label>
                                <input asp-for="FullNameAR" class="form-control" />
                                <span asp-validation-for="FullNameAR" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="FullNameEN" class="control-label">الاسم الكامل باللغة الإنجليزية</label>
                                <input asp-for="FullNameEN" class="form-control" />
                                <span asp-validation-for="FullNameEN" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-12">
                            <div class="mb-4">

                                <label asp-for="Email" class="control-label">البريد الإلكتروني</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="Password" class="control-label">كلمة المرور</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">

                                <label asp-for="PhoneNumber" class="control-label">رقم الهاتف</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">

                                <label asp-for="UserType" class="control-label">نوع المستخدم</label>
                                <input asp-for="UserType" class="form-control" />
                                <span asp-validation-for="UserType" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->

                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-5" title="add">إضافة</button>
                    </div>
                </form>

                <script>
                    $(document).ready(function () {
                        $('#userForm').submit(function (event) {
                            event.preventDefault(); // Prevent the default form submission

                            $.ajax({
                                url: '@Url.Action("AddUser")', // URL to the controller action
                                type: 'POST',
                                data: $(this).serialize(),
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire({
                                            title: '!نجحت العملية',
                                            text: 'أُضِيفَ المستخدم بنجاح',
                                            icon: 'success'
                                        }).then(() => {
                                            window.location.href = '@Url.Action("Index")'; // Redirect to Index page after success
                                        });
                                    } else {
                                        Swal.fire({
                                            title: '!فشلت العملية',
                                            text: 'لم يُضَاف المستخدم',
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'An unexpected error occurred.',
                                        icon: 'error'
                                    });
                                }
                            });
                        });
                    });
                </script>


            </div>
        </div>
    </div>
</div>
