@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model tblUsers

@{
    ViewData["Title"] = "Create";
}

<h1>Creat</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullNameAR" class="control-lable"></label>
                <input asp-for="FullNameAR" class="form-control"/>
                <span asp-validation-for="FullNameAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullNameEN" class="control-lable"></label>
                <input asp-for="FullNameEN" class="form-control" />
                <span asp-validation-for="FullNameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="Email" class="control-lable"></label>
                  <input asp-for="Email" class="form-control" />
                  <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-lable"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-lable"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="control-lable"></label>
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
