@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en" dir="rtl" data-theme="light">

@model room_reservation.ViewModel.UserViewModel

@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم  بالنظام</title>

    <!-- Favico -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/imgs/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/assets/imgs/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Assets/css/root.css">
    <!---->
    <!--------- CSS Liberaries ---------->
    <!-- Data Table -->
    <!-- <link rel="stylesheet" href="Assets/lib/DataTable/css/select.dataTables.min.css" /> -->
    <!-- <link rel="stylesheet" href="Assets/lib/DataTable/css/datatables_customization.css" /> -->
    <!-- customization -->
    <link rel="stylesheet" href="~/Assets/css/app_rtl.css">

</head>

<body class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
            <div class="content-body">
                <!-- lock screen starts -->
                <div class="row" style="margin-bottom:200px">
                <div class="content-header row">
                    <div class="content-wrapper">
                        <div class="row justify-content-md-center mb-3">
                            <div class="col text-center">
                                <div class="row justify-content-center">
                                    <div class="col-md-4 text-center">
                                        <img src="~/Assets/imgs/KFUSpaceLogo.png" alt="KFUSpaceLogo" class="img-fluid img-small centered-image" style="max-width: 70%; height: auto; margin-top: 50px;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <section class="row flexbox-container">
                    <div class="col-xl-3 col-3 px-0"></div>
                    <div class="col-xl-6 col-6 px-0">
                        <div class="card bg-authentication ">
                            <div class="row m-0">
                                <div class="col-md-3 col-12 px-0"></div>
                                <!-- left lock screen section -->
                                <div class="col-md-12 col-12 px-0">
                                    <div class="card disable-rounded-right mb-0 p-2">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="text-center mb-2">تسجيل الدخول</h4>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <p id="Error" class="card-text danger" style="color:red">
                                                    @ViewData["Login_error"]
                                                </p>
                                                <form asp-action="Login">
                                                    <div class="form-group mb-50">
                                                        <label class="text-bold-600" for="exampleInputEmail1">البريد الإلكتروني</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@student.kfu.edu.sa" asp-for="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="exampleInputPassword1">كلمةالمرور</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password" placeholder="كلمة المرور">
                                                    </div>
                                                    <button  type="submit" class="btn btn-primary glow position-relative w-100">تسجيل الدخول<i id="icon-arrow" class="bx bx-right-arrow-alt"></i></button>
                                                    <div class="text-center mb-1">
                                                        <a href="Accounts/ForgetPassword" class="card-link">
                                                            <p>
                                                                هل نسيت كلمة المرور
                                                            </p>
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                             
                            </div>
                        </div>
                    </div>
                </section>
                <!-- lock screen ends -->

            </div>
        </div>
    </div>
</body>
</html>
